$type: Block
stmts:
- $type: Let
  name: subCapacities
  e:
    param: compo
    collBType: NEList[demo.config.ZeroTo2400]
    coll:
      actualTypeOpt: []
      coll:
        $type: Nav
        obj:
          $type: Ref
          id: the standard cluster
        elems:
        - - subComponents
          - NEList[demo.config.SubComponent]
      filter:
        $type: NativeFunApp
        funDef: luego.text.startsWith
        args:
        - $type: Nav
          obj:
            $type: Ref
            id: compo
          elems:
          - - code
            - demo.config.SubComponentCode
        - $type: SLit
          s: A
      param: compo
      $type: Filter
    $type: Map
    functor:
      $type: Nav
      obj:
        $type: Ref
        id: compo
      elems:
      - - capacity
        - demo.config.ZeroTo2400
- $type: PModif
  left:
    $type: Nav
    obj:
      $type: Ref
      id: the standard cluster
    elems:
    - - minNumberOfNodes
      - Integer
  right:
    $type: NativeFunApp
    funDef: luego.math.floorInt
    args:
    - $type: BinAr
      l:
        $type: Sum
        type: Number
        coll:
          $type: Nav
          obj:
            $type: Ref
            id: subCapacities
          elems: []
      op: Div
      r:
        $type: DLit
        v: 10
e:
  $type: NativeFunApp
  funDef: luego.text.println
  args:
  - $type: SLit
    s: configure standard cluster
