$type: Block
stmts:
- $type: Need
  exps:
  - $type: Nav
    obj:
      $type: Ref
      id: the customer request
    elems:
    - - cloudProvider
      - demo.config.CloudProvider
e:
  $type: IfThenElse
  ifCond:
    $type: Present
    nav:
      $type: Nav
      obj:
        $type: Ref
        id: the configuration
      elems:
      - - cluster
        - demo.config.Cluster
    flag: false
  thenVal:
    $type: Block
    stmts:
    - $type: PModif
      left:
        $type: Nav
        obj:
          $type: Ref
          id: the configuration
        elems:
        - - cluster
          - demo.config.Cluster
      right:
        $type: DecisionApp
        funDef: demo.config.inferKafkaClusterType
        args:
        - - the customer request
          - $type: Ref
            id: the customer request
        body:
          $type: IfThenElse
          ifCond:
            $type: Nav
            obj:
              $type: Ref
              id: the customer request
            elems:
            - - mustHaveDedicatedEnv
              - Boolean
          thenVal:
            $type: Obj
            ot: demo.config.DedicatedCluster
            mappings:
            - - scaling
              - $type: EnumLit
                ev:
                  enumType: demo.config.ScalingType
                  i: 1
            id: []
          elseVal:
            $type: IfThenElse
            ifCond:
              $type: Nav
              obj:
                $type: Ref
                id: the customer request
              elems:
              - - mustHavePrivateEndpoints
                - Boolean
            thenVal:
              $type: IfThenElse
              ifCond:
                $type: Nav
                obj:
                  $type: Ref
                  id: the customer request
                elems:
                - - mustHaveSubSecondLatency
                  - Boolean
              thenVal:
                $type: IfThenElse
                ifCond:
                  $type: NComp
                  l:
                    $type: Nav
                    obj:
                      $type: Ref
                      id: the customer request
                    elems:
                    - - ingress
                      - Number
                  op: Gt
                  r:
                    $type: ILit
                    v: 600
                thenVal:
                  $type: Obj
                  ot: demo.config.DedicatedCluster
                  mappings:
                  - - scaling
                    - $type: EnumLit
                      ev:
                        enumType: demo.config.ScalingType
                        i: 1
                  id: []
                elseVal:
                  $type: Obj
                  ot: demo.config.EnterpriseCluster
                  mappings:
                  - - scaling
                    - $type: EnumLit
                      ev:
                        enumType: demo.config.ScalingType
                        i: 0
                  id: []
              elseVal:
                $type: Obj
                ot: demo.config.FreightCluster
                mappings:
                - - scaling
                  - $type: EnumLit
                    ev:
                      enumType: demo.config.ScalingType
                      i: 0
                id: []
            elseVal:
              $type: IfThenElse
              ifCond:
                $type: NComp
                l:
                  $type: Nav
                  obj:
                    $type: Ref
                    id: the customer request
                  elems:
                  - - ingress
                    - Number
                op: Gt
                r:
                  $type: ILit
                  v: 250
              thenVal:
                $type: Obj
                ot: demo.config.EnterpriseCluster
                mappings:
                - - scaling
                  - $type: EnumLit
                    ev:
                      enumType: demo.config.ScalingType
                      i: 0
                id: []
              elseVal:
                $type: IfThenElse
                ifCond:
                  $type: Nav
                  obj:
                    $type: Ref
                    id: the customer request
                  elems:
                  - - isProductionUseCase
                    - Boolean
                thenVal:
                  $type: Obj
                  ot: demo.config.StandardCluster
                  mappings:
                  - - scaling
                    - $type: EnumLit
                      ev:
                        enumType: demo.config.ScalingType
                        i: 0
                  id: []
                elseVal:
                  $type: Obj
                  ot: demo.config.BasicCluster
                  mappings:
                  - - scaling
                    - $type: EnumLit
                      ev:
                        enumType: demo.config.ScalingType
                        i: 0
                  id: []
    e:
      $type: NativeFunApp
      funDef: luego.text.println
      args:
      - $type: SLit
        s: The cluster type has been chosen.
  elseVal:
    $type: PMatch
    dependsOn:
      $type: Nav
      obj:
        $type: Ref
        id: the configuration
      elems:
      - - cluster
        - demo.config.Cluster
    cases:
    - $type: CaseType
      whereOpt: []
      varName: bc
      value:
        $type: DecisionApp
        funDef: demo.config.configureBasicCluster
        args:
        - - the customer request
          - $type: Ref
            id: the customer request
        - - the basic cluster
          - $type: Ref
            id: bc
        body:
          $type: Block
          stmts:
          - $type: PModif
            left:
              $type: Nav
              obj:
                $type: Ref
                id: the basic cluster
              elems:
              - - minNumberOfNodes
                - Integer
            right:
              $type: ILit
              v: 2
          e:
            $type: NativeFunApp
            funDef: luego.text.println
            args:
            - $type: SLit
              s: configure basic cluster
      type: demo.config.BasicCluster
    - type: demo.config.DedicatedCluster
      value:
        $type: DecisionApp
        funDef: demo.config.configureDedicatedCluster
        args:
        - - the customer request
          - $type: Ref
            id: the customer request
        - - the dedicated cluster
          - $type: Ref
            id: dc
        body:
          $type: Block
          stmts:
          - $type: PatternMatchDo
            dependsOn:
              $type: Nav
              obj:
                $type: Ref
                id: the dedicated cluster
              elems:
              - - optionalComponent
                - Option[demo.config.OptionalComponent]
            cases:
            - stmts:
              - $type: PatternMatchDo
                dependsOn:
                  $type: Ref
                  id: option
                cases:
                - type: demo.config.OptionA
                  where: []
                  $type: CaseTypeDo
                  stmts:
                  - $type: PModif
                    left:
                      $type: Nav
                      obj:
                        $type: Ref
                        id: the dedicated cluster
                      elems:
                      - - minNumberOfNodes
                        - Integer
                    right:
                      $type: ILit
                      v: 7
                  - $type: Need
                    exps:
                    - $type: Nav
                      obj:
                        $type: Ref
                        id: optionA
                      elems:
                      - - quantity
                        - demo.config.ZeroTo1200
                  name: optionA
                - stmts:
                  - $type: PModif
                    left:
                      $type: Nav
                      obj:
                        $type: Ref
                        id: the dedicated cluster
                      elems:
                      - - minNumberOfNodes
                        - Integer
                    right:
                      $type: ILit
                      v: 6
                  - $type: Need
                    exps:
                    - $type: Nav
                      obj:
                        $type: Ref
                        id: notification
                      elems:
                      - - email
                        - demo.config.Email
                  $type: CaseTypeDo
                  type: demo.config.EmailNotification
                  where: []
                  name: notification
                - where: []
                  type: demo.config.OptionB2
                  name: optionB2
                  stmts:
                  - $type: PModif
                    left:
                      $type: Nav
                      obj:
                        $type: Ref
                        id: the dedicated cluster
                      elems:
                      - - minNumberOfNodes
                        - Integer
                    right:
                      $type: ILit
                      v: 5
                  - $type: Need
                    exps:
                    - $type: Nav
                      obj:
                        $type: Ref
                        id: optionB2
                      elems:
                      - - quantity
                        - demo.config.ZeroTo2400
                  $type: CaseTypeDo
              name: option
              type: demo.config.OptionalComponent
              $type: CaseSomeTypeDo
              where: []
            - $type: LitCaseDo
              lit: None
              stmts:
              - $type: PModif
                left:
                  $type: Nav
                  obj:
                    $type: Ref
                    id: the dedicated cluster
                  elems:
                  - - minNumberOfNodes
                    - Integer
                right:
                  $type: ILit
                  v: 4
          e:
            $type: NativeFunApp
            funDef: luego.text.println
            args:
            - $type: SLit
              s: configure dedicated cluster
      whereOpt: []
      $type: CaseType
      varName: dc
    - $type: CaseType
      varName: ec
      whereOpt: []
      value:
        $type: DecisionApp
        funDef: demo.config.configureEnterpriseCluster
        args:
        - - the customer request
          - $type: Ref
            id: the customer request
        - - the enterprise cluster
          - $type: Ref
            id: ec
        body:
          $type: Block
          stmts:
          - $type: PModif
            left:
              $type: Nav
              obj:
                $type: Ref
                id: the enterprise cluster
              elems:
              - - minNumberOfNodes
                - Integer
            right:
              $type: ILit
              v: 7
          e:
            $type: NativeFunApp
            funDef: luego.text.println
            args:
            - $type: SLit
              s: configure enterprise cluster
      type: demo.config.EnterpriseCluster
    - whereOpt: []
      $type: CaseType
      type: demo.config.FreightCluster
      value:
        $type: DecisionApp
        funDef: demo.config.configureFreightCluster
        args:
        - - the customer request
          - $type: Ref
            id: the customer request
        - - the freight cluster
          - $type: Ref
            id: fc
        body:
          $type: Block
          stmts:
          - $type: PModif
            left:
              $type: Nav
              obj:
                $type: Ref
                id: the freight cluster
              elems:
              - - minNumberOfNodes
                - Integer
            right:
              $type: ILit
              v: 5
          e:
            $type: NativeFunApp
            funDef: luego.text.println
            args:
            - $type: SLit
              s: configure freight cluster
      varName: fc
    - type: demo.config.StandardCluster
      whereOpt: []
      $type: CaseType
      value:
        $type: DecisionApp
        funDef: demo.config.configureStandardCluster
        args:
        - - the customer request
          - $type: Ref
            id: the customer request
        - - the standard cluster
          - $type: Ref
            id: sc
        body:
          $type: Block
          stmts:
          - $type: Let
            name: subCapacities
            e:
              $type: Map
              coll:
                coll:
                  $type: Nav
                  obj:
                    $type: Ref
                    id: the standard cluster
                  elems:
                  - - subComponents
                    - NEList[demo.config.SubComponent]
                filter:
                  $type: NativeFunApp
                  funDef: luego.text.startsWith
                  args:
                  - $type: Nav
                    obj:
                      $type: Ref
                      id: compo
                    elems:
                    - - code
                      - demo.config.SubComponentCode
                  - $type: SLit
                    s: A
                actualTypeOpt: []
                $type: Filter
                param: compo
              collBType: NEList[demo.config.ZeroTo2400]
              functor:
                $type: Nav
                obj:
                  $type: Ref
                  id: compo
                elems:
                - - capacity
                  - demo.config.ZeroTo2400
              param: compo
          - $type: PModif
            left:
              $type: Nav
              obj:
                $type: Ref
                id: the standard cluster
              elems:
              - - minNumberOfNodes
                - Integer
            right:
              $type: NativeFunApp
              funDef: luego.math.floorInt
              args:
              - $type: BinAr
                l:
                  $type: Sum
                  type: Number
                  coll:
                    $type: Nav
                    obj:
                      $type: Ref
                      id: subCapacities
                    elems: []
                op: Div
                r:
                  $type: DLit
                  v: 10
          e:
            $type: NativeFunApp
            funDef: luego.text.println
            args:
            - $type: SLit
              s: configure standard cluster
      varName: sc
