$type: Block
stmts:
- $type: PatternMatchDo
  dependsOn:
    $type: Nav
    obj:
      $type: Ref
      id: the dedicated cluster
    elems:
    - - optionalComponent
      - Option[demo.config.OptionalComponent]
  cases:
  - stmts:
    - $type: PatternMatchDo
      dependsOn:
        $type: Ref
        id: option
      cases:
      - type: demo.config.OptionA
        $type: CaseTypeDo
        stmts:
        - $type: PModif
          left:
            $type: Nav
            obj:
              $type: Ref
              id: the dedicated cluster
            elems:
            - - minNumberOfNodes
              - Integer
          right:
            $type: ILit
            v: 7
        - $type: Need
          exps:
          - $type: Nav
            obj:
              $type: Ref
              id: optionA
            elems:
            - - quantity
              - demo.config.ZeroTo1200
        where: []
        name: optionA
      - type: demo.config.EmailNotification
        $type: CaseTypeDo
        stmts:
        - $type: PModif
          left:
            $type: Nav
            obj:
              $type: Ref
              id: the dedicated cluster
            elems:
            - - minNumberOfNodes
              - Integer
          right:
            $type: ILit
            v: 6
        - $type: Need
          exps:
          - $type: Nav
            obj:
              $type: Ref
              id: notification
            elems:
            - - email
              - demo.config.Email
        where: []
        name: notification
      - name: optionB2
        $type: CaseTypeDo
        stmts:
        - $type: PModif
          left:
            $type: Nav
            obj:
              $type: Ref
              id: the dedicated cluster
            elems:
            - - minNumberOfNodes
              - Integer
          right:
            $type: ILit
            v: 5
        - $type: Need
          exps:
          - $type: Nav
            obj:
              $type: Ref
              id: optionB2
            elems:
            - - quantity
              - demo.config.ZeroTo2400
        type: demo.config.OptionB2
        where: []
    $type: CaseSomeTypeDo
    name: option
    type: demo.config.OptionalComponent
    where: []
  - $type: LitCaseDo
    lit: None
    stmts:
    - $type: PModif
      left:
        $type: Nav
        obj:
          $type: Ref
          id: the dedicated cluster
        elems:
        - - minNumberOfNodes
          - Integer
      right:
        $type: ILit
        v: 4
e:
  $type: NativeFunApp
  funDef: luego.text.println
  args:
  - $type: SLit
    s: configure dedicated cluster
