$type: Block
stmts:
- $type: PModif
  left:
    $type: Nav
    obj:
      $type: Ref
      id: the configuration
    elems:
    - - cluster
      - demo.config.Cluster
    - - minNumberOfNodes
      - Integer
  right:
    $type: ILit
    v: 7
e:
  $type: NativeFunApp
  funDef: luego.text.println
  args:
  - $type: SLit
    s: Hello, playing with some update
