---
imports:
  - luego.text.*
  - luego.math.*
  - demo.config.*

output: Unit
inputs:
  - name: the customer request
    type: demo.config.CustomerRequest
    mutable: true
  - name: the standard cluster
    type: demo.config.StandardCluster
    mutable: true

definition: >
  {
    let subCapacities = for compo in the subComponents of `the standard cluster` 
                              where startsWith(the code of compo, 'A') 
                              yield the capacity of compo;
  
    set the minNumberOfNodes of `the standard cluster` = floorInt(the sum of subCapacities / 10.0);
  
    println('configure standard cluster');
  }

###
exposable: true
description: configure a standard Kafka cluster
usedDecisions: []