---
imports:
  - luego.text.*
  - demo.config.*

output: Unit
inputs:
  - name: the customer request
    type: demo.config.CustomerRequest
    mutable: true
  - name: the dedicated cluster
    type: demo.config.DedicatedCluster
    mutable: true

definition: >
  {
    depending on the optionalComponent of `the dedicated cluster` do {
      case Some(option: OptionalComponent) => depending on option do {
        case optionA: OptionA => 
          set the minNumberOfNodes of `the dedicated cluster` = 7;
          NEED(optionA.quantity);
  
        case notification: EmailNotification =>
          set the minNumberOfNodes of `the dedicated cluster` = 6;
          NEED(notification.email);
  
        case optionB2: OptionB2 =>
          set the minNumberOfNodes of `the dedicated cluster` = 5;
          NEED(optionB2.quantity);
      };
      
      case None => 
          set the minNumberOfNodes of `the dedicated cluster` = 4;
    };

    println('configure dedicated cluster');
  }  

###
exposable: true
description: configure a dedicated Kafka cluster
usedDecisions: []
